.btn-register {
  font-size: 19px;
  text-align: left;
  cursor: pointer;
  text-align: center;
  padding-top: 20px;
  color: lightslategray;
}

.log {
  width: 65%;
  margin: auto;
  margin-bottom: 20px;
}

#form-error {
  text-align: center;
}

.span {
  color: white !important;
  background: #5bc0de !important;
  border-color: #5bc0de !important;
}

.btn-wrap {
  text-align: center;
  margin: auto;
}

.image-background {
  width: 100vw;
  background-image: url(../img/img-background.jpg);
  height: 45vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position-y: 16%;
  background-position-x: 83%;
  margin-bottom: 45px;
}

.navbar {
  margin-bottom: 0!important;
}

#menu-close {
  display: block;
  color: #FFF;
  background: transparent;
  border-color: transparent;
  font-size: 25px;
  padding: 15px 15px 0 0;
  cursor: pointer;
  text-align: right;
}
